// Place all the styles related to the playlist controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1{
  text-align: center;
}

/* index.html.erb */

.playlist-container{
  height: 60px;
  border: solid 1px white;
  background-color: #dcdcdc;
  position: relative;
}
.playlist-container-left{
  width: 59%;
  float: left;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-20%,-50%);
}
.playlist-name{
  text-decoration: none;
  font-size: 24px;
  color: blue;
}
.playlist-name:hover{
  opacity: 0.8;
}
.playlist-container-right{
  width: 19%;
  float: right;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(-10%,-50%);
  text-align: center;
}
.delete-button{
  text-decoration: none;
  background-color: #00ACEE;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
}
.delete-button:hover{
  opacity: 0.8;
}

/* new.html.erb */
.create-form-container{
  border: solid black 1px;
  width: 40%;
  margin: auto;
  text-align: center;
  height: 300px;
  background-color: #dcdcdc;
}
.form{
  width: 60%;
}
.submit-button{
  width: 20%;
  padding: 10px 0;
  margin-bottom: 20px;
  background-color: #00ACEE;
  border: solid #dcdcdc;
  border-radius: 10px;
  color: white;
}
.submit-button:hover{
  opacity: 0.8;
}
