<%= form_tag("/create/playlist") do %>
  <h1>新規作成</h1>
  <p>プレイリスト名</p>
  <input type="text" name="name">
  <p>説明文(任意)</p>
  <input type="text" name="description">
  <input type="submit" value="送信">
<% end %>
